.navbar-brand {
    font-family: "marck script", cursive;
    font-style: normal;
    font-size: 30px;
  }
  
  .cont {
    display: flex;
    justify-content: center;
  
  }
  
  .carousel-inner {
    width: 910px;
    height: 533px;
  }
  
  .logoname {
      width: 250px;
  }

  @media (max-width: 600px) {
    .carousel-inner {
        width: auto;
        height: auto;
    }

}

.border {
    padding: 5px;
    background-color: #53320d;
}


