<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/navbar.css"> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/imagens/favicon.png"/>

    <title>Cardápio | Umai Sushi Lounge</title>
  </head>
  <body class="body-geral" id="HomePage">
      
    <body background="/imagens/background.jpg">
        
        <header>
            <div
              style="
                display: flex;
                align-items: center;
                padding-left: 16px;
                background-color: #f8f9fa;
                height: 75px;
              "
            >
              <nav style="display: flex; align-items: center; justify-content: initial">
                <div class="container-logoname">
                  <a class="navbar-brand" href="index.html"
                    ><img
                      style="margin-right: 5px"
                      class="logoname"
                      src="imagens/logoname.png.png"
                      alt=""
                  /></a>
                </div>
        
                <div>
                  <a class="navbar-item" href="rodizio.html">Rodízio</a>
                  <a class="navbar-item" href="promocoes.html">Promoções</a>
                  <a class="navbar-item" href="cardapio.html">Cardápio</a>
                  <a class="navbar-item" href="gallery.html">Galeria</a>
                  <a class="navbar-item" href="sugestoes.html">Sugestões</a>
        
                  <div class="dropdown">
                    <button class="dropbtn">
                      Contato<img
                        style="width: 10px; margin-left: 5px"
                        src="imagens/drop-down-arrow.svg"
                      />
                    </button>
                    <div class="dropdown-content">
                      <a class="dropdown-item" href="tel:81983729878">Ligar</a>
                      <a
                        class="dropdown-item"
                        target="_blank"
                        href="https://api.whatsapp.com/send?phone=5581983729878&text=Umai%20Sushi%20Lounge%2C%20diferente%20de%20tudo%20que%20voc%C3%AA%20j%C3%A1%20viu!!"
                        >Whatsapp</a
                      >
                    </div>
                  </div>
        
                  <div class="dropdown">
                    <button class="dropbtn">
                      Redes Sociais<img
                        style="width: 10px; margin-left: 5px"
                        src="imagens/drop-down-arrow.svg"
                      />
                    </button>
                    <div class="dropdown-content">
                      <a href="#"> Redes Sociais </a>
                      <a href="https://www.facebook.com/UmaiSushiLounge">Facebook</a>
                      <a href="https://www.instagram.com/umai_sushi_lounge/?hl=pt-br"
                        >Instagram</a
                      >
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </header>

    <div class="geral">
      
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/scripts/index.js"></script>
    </div>
</body>
</html>