.body-geral {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* adicionando imagem de fundo */
  background: url("../imagens/background.jpg");
  background-size: cover;
}


.navbar-brand {
  font-family: "marck script", cursive;
  font-style: normal;
  font-size: 30px;
  }
  
.body-geral {
  margin: 0;
}

.cont {
  display: flex;
  justify-content: center;
  
  }
  
.carousel-inner {
  width: 910px;
  height: 533px;
  border: 0;
  }
  
.logoname {
    width: 250px;
      
  }

  @media (max-width: 600px) {
    .carousel-inner {
        width: auto;
        height: auto;
    }

}

.border-personal {
    margin-top: 30px;
    padding: 5px;
    background-color: #53320d;
    
}

.navbar navbar-expand-lg navbar-light bg-light {
  display: flex;
  justify-content: center
}

.border {
  border: 0;
}
